/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap'); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: Arial; */
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
.container{
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 7px 5px 13px rgba(0,0,0,.1); 
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
    /* box-shadow: 4px 3px 5px rgba(0,0,0,.1); */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3000;
}

.container a{
    text-decoration: none;
    color: purple;
    text-transform: capitalize;
    font-size: 25px;
    
}
.logo {
    margin-left: 150px;
}
.container span{
   font-size: 20px;
}
.container span{
    color: deeppink;
}
.menu{
    margin-right: 50px;
}
.menu a{
    font-size: 18px;
    margin-right: 15px;
    margin-left: 10px;
}
/* section{
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
} */
/* ========================= home started ========================= */
.home{
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-image: url("./Images/home-bg-img.png");
    background-size: cover;
    background-position: center;
}
/* .content{ */
    /* margin-left: 80px; */
   /* margin-top: 120px; */
/* } */
.content h3, p, a{
    margin-left: 80px;
}
.content h3{
  text-transform: uppercase;
  color: #333;
      font-family: Arial;

}
.content span{
    text-transform: uppercase;
    color: deeppink;
}
.content h3,span{
    font-size: 49px;
}
.content p{
    font-size: 20px;
    color: #666;
    padding-bottom: 20px;
    
}
.content .btn{
    color: white;
    border:0px solid transparent;
    border-radius: 25px;
    font-size: 20px;
    padding: 12px 40px;
    background-image: linear-gradient(60deg ,purple,#f5248e);
}
.home .img img{
    width: 550px;
    /* animation: float 3s linear infinite; ------------shortcut*/
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 100px;
    margin-right: 120px;
    position: static;
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
}

/* ======================= feature started ======================= */
 .feature{
    /* background-color:#c5b8ba1c; */
   height: 100vh;
   width: 100%;
    padding-top: 10px;
    padding-bottom: 10px
}  

.feature .header{
   color: rgba(128, 0, 90, 0.801); 
   margin-top: 90px; 
   text-align: center;
   font-size: 40px;
}

.box-container{
    height: 420px;
    width: 100%;
    margin-top: 50px;
}
.box-item{
    height: 415px;
    width: 26%;
   background-color: white;
   border: 1px solid rgba(0,0,0,.2);
   box-shadow: 1.5px 1.5px 7px rgba(0,0,0,.1); 
   /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
    margin-left: 75px;
   /* text-align: center; */
   float: left;  
   /* margin-right: 40px; */
    
}

.box-item img{
    height: 150px; 
    /* margin-top: 30px; */
     padding-top: 30px;
     margin-left: 70px;
}
.box-item h3{
 color: #333;
font-size: 25px;
padding-top: 8px;
padding-bottom: 15px;
margin-left: 50px;
}
 .box-item p{
color:#666;
line-height: 18px;
font-size: 15px;
padding-bottom: 40px;
margin-left: 40px;
/* margin-right: 100px; */
} 


.box-item .btn1{
    color: white;
    border:0px solid transparent;
    border-radius: 22px;
    font-size: 17px;
    padding:13px 32px;
    background-image: linear-gradient(60deg ,purple,#f5248e);
    cursor: pointer;
    margin-left: 100px;
} 
/* .btn1:hover{
    
} */

/* ============== about started ================= */
 .about{
    height: 100vh;
    width: 100%;
     padding-top: 10px;
    padding-bottom: 40px;
    background-image: url("./Images/about-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.about .header{
    color: rgba(128, 0, 90, 0.801); 
   margin-top: 80px; 
   text-align: center;
   font-size: 38px;
   text-transform: uppercase;
}

.about .content1{
    display: grid;
    grid-template-areas: "image image about-text about-text";
    
} 

 .about .image{
    grid-area: image; 
    
} 

 .about .image img{
    padding-left: 90px;
    /* padding-top: px; */
    width: 95%;
}
 .about .about-text{
grid-area: about-text;
 align-items: center; 
 padding-top: 80px;
 }
 
 .about-text h3{
    color: #666;
    font-size: 35px;
    margin-left: 70px;
    padding-bottom: 27px;
}

.about-text p{
    color:#666;
   line-height: 25px;
   letter-spacing: 1px;
    padding-bottom: 30px;
}

.about-text{
    padding-right: 30px;
}
.button{
    margin-right: 10px;
}
.button .btn2{
    color: white;
    border:0px solid transparent;
    border-radius: 20px;
    font-size: 17px;
    padding:12px 35px;
    background-image: linear-gradient(60deg ,purple,#f5248e);
    cursor: pointer;
    
}  
/* ======================= subscribe started ===================== */
.sub{
    height: 300px;
    text-align: center;
    background-image: url("./Images/subscribe-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.sub h3{
    padding-top: 80px;
    font-size: 30px;
    color: #fff;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.sub p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}
.sub form input{
  border: 1px solid #fff;
  margin-top: 20px;
  background: none;
}
.sub form input[type="email"]::placeholder{
    color:#eee;
    font-size: 15px;
    text-transform: capitalize;
   
}
.sub form input[type="submit"]{
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.sub form input[type="submit"]:hover{
    color: #f5248e;
    
}

/* ================= review started ============================= */
.review{
    height: 100vh;
    width: 100%;
  /* background-color: #333; */
}
.review .head{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    /* margin-top: 110px; */
    color: #b4207c;
}
.box-card{
    height: 350px;
    width: 83%;
    /* background-color: #333; */
    margin-left: 120px;
    display: flex;
    margin-top: 35px;
    
}
.box-card .card{
    height: 350px;
    width: 32%;
    margin-left: 11px;
    /* float: left; */
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 1.5px 1.5px 7px rgba(0,0,0,.1); 
    border-radius: 5px;
    
}
.card .fa-quote-right{
     margin-left: 280px;
     font-size: 70px;
     color: #ec79b2;
     /* opacity: 0.3; */
     margin-top:5px;
    
}
.card-img img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
   padding-bottom: 5px;
  margin-left: 150px;
}
.card-img h2{
    padding-bottom: 10px;
    text-align: center;
    color: #f5248e;
}
.card .card-star{
    padding-bottom: 10px;
    text-align: center;
    color: rgb(150, 52, 150);
}
.card .card-commit p{
   font-size: 14px;
   margin-left: 10px;
   text-align: center;
   line-height: 22px;
   color: #666;
}

/* =======================price start=========================== */

.price{
    height: 100vh;
    width: 100%;
    /* background-color: #b4207c; */
}
.price .head{
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    /* margin-top: 50px; */
    padding-top: 70px;
    color: #b4207c;
}
.pricing-box{
    height: 430px;
    width: 83%;
    /* background-color: #333; */
    margin-left: 120px;
    display: flex;
    margin-top: 35px;
    
}
.pricing-box .price-card{
    height: 430px;
    width: 32%;
    margin-left: 11px;
    /* float: left; */
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 1.5px 1.5px 7px rgba(0,0,0,.1); 
    border-radius: 5px;
   text-align: center;
   
   
}
.price .pricing-box .price-card:hover{
    border: 2px solid #f5248e;
}
.price-card .head-price{
    color: rgb(105, 9, 105);
    font-size: 29px;
    margin-top: 25px;
    padding-bottom: 26px;
}
.price-card .prices{
    font-size: 40px;
    padding-bottom: 25px;
    color: #f5248e;
}
.price-card .prices span{
    font-size: 22px;
}
.price-card ul{
    padding-bottom: 50px;
}  
.price-card ul li{
   list-style: none;
   line-height: 40px;
   font-size: 18px;
   color:rgb(129, 117, 117);
  
}
.price-card ul li .fa-check{
   color: rgb(135, 228, 135);
}
.price-card ul li .fa-times{
   color: rgb(243, 125, 125);
}
.price-card a{
    margin-right: 80px;
}
.price-card .btn3{
    color: white;
    border:0px solid transparent;
    border-radius: 22px;
    font-size: 17px;
    padding:13px 32px;
    background-image: linear-gradient(60deg ,purple,#f5248e);
    cursor: pointer;
    
}

/* ====================== contact started ==================== */
.contact{
    height: 100vh;
    width: 100%;
    /* background-color: #333; */
    display: flex;
}
.contact .contact-image img{
    height: 60vh;
     
    padding-top: 100px;
    padding-left: 100px;
}
.contact .contact-form{
    height: 520px;
    width: 43%;
    margin-left: 25px;   
    /* float: left; */
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 1.5px 1.5px 7px rgba(0,0,0,.1); 
    border-radius: 5px;
   /* text-align: center; */
   margin-top: 40px;
   /* padding-top: 20px; */
}
.contact-form .contact-head{
    color: purple;
    margin-top: 20px;
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    margin-left: 30px;
    padding-bottom: 15px;
}
.contact-form input{
   width: 500px;
   height: 45px;
   font-size: 16px;
   margin-bottom: 30px;
   /* border-collapse: collapse; */
   border: none;
   border-bottom: 1px solid rgb(240, 233, 233);
   margin-left: 50px;
   outline: none;
}
.contact-form textarea{
    border: none;
    width: 500px;
    border-bottom: 1px solid rgb(240, 233, 233);
    font-size: 16px;
    margin-left: 50px;
    outline: none;
}
.contact-form .btn4{
    color: white;
    border:0px solid transparent;
    border-radius: 22px;
    font-size: 17px;
    padding:13px 32px;
    background-image: linear-gradient(60deg ,purple,#f5248e);
    cursor: pointer;
}

/* ====================== footer started ===================== */
.footer{
    background-image: url("./Images/footer-bg.png");
    background-image: cover;
    background-position: center;
    /* padding-top: 500px; */
    height: 419px;
    width: 100%;
    background-repeat: no-repeat;
}
.footer .footer-box{
    display: flex;
    height: 300px;
    width: 100%;

}
.footer-box .footbox{
    height: 300px;
    width: 20%;
   margin-left: 40px;
}
.footer-box  .footbox h3{
    font-size: 28px;
    padding-top: 50px;
    color: #fff;
    margin-left: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
}
.footbox p{
    font-size: 15px;
    margin-left: 20px;
    color: #eee;
    line-height: 25px;
}
.footbox a{
    display: block;
    color: #eee;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 16px;
}
.footbox a:hover{
    text-decoration: underline;
}
.footbox .info{
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}
.footbox .info i{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #fff;
    color: #f5248e;
    line-height: 40px;
   text-align: center;
}
.footer .footend{
    height: 80px;
    width: 100%;
    border-top: 1px solid #eee;
}
.footer .footend p{
    color: #fff;
    font-size: 25px;
    /* text-align: center; */
    margin-left: 35%;
   margin-top: 40px;
 
}
.footer .footend p i{
    font-size: 20px;
    color: red;
}
.footer .footend span{
    font-size: 25px;
    font-family: "Lucida calligraphy";
    text-shadow: 9px 4px 5px black;
}