body{
    background-color: #ccc;
}

.box{
    height: 550px;
    width: 510px;
    background-color: white;
    border-radius: 3px;
   margin-top: 50px;
    margin-left: 400px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.3);
    /* display: flex;
    flex-direction: row; */
}
/* table{
    display: flex;
 } 
@media all and (min-width:320px) and (max-width:600px) {
    table tr td{
        flex-direction: column;
    }
 } */